/* Set the body's margin and height */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The main container for the app */
.App {
  text-align: center;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: aqua;
}

/* Styling the task input section */
.task-input {
  margin-bottom: 20px;
}

/* Styling for the task sections */
.task-section {
  margin-bottom: 20px;
}
.task-text {
  font-weight: bold;
}
#root {
background-image: url(./assets/Background2.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
width: 100vh;
height: 100vh;
}
  
